@import 'reset';
@import 'defaults';

.viewport {
	margin-top: 16px;
  overflow: hidden;
  border: 1px solid;
	
	h1 { 
		font-size: 1.25em;
		text-align: center;
		padding: 5px 0;
		margin: 0;
		border: none;
		color: white;
		background-color: black;
	}

	.back { 
		font-size: 0.75em;
		color: white;
	}

	ul {
		margin: 0;
		float: left;
		vertical-align: top;

		li {
			padding: 4px 5px;
			cursor: pointer;
			list-style: none;
			background-color: white;
			background-image: url(../images/r_arrow_black.png);
			background-repeat: no-repeat;
			background-position: right;
			font-size: 1.1em;
			color: black;

			&:hover {
				background-color: #150175;
				background-image: url(../images/r_arrow_white.png);
				color: white;
			}
			
			&.selectable {
				background-image: none;
				&:hover { background-color: #150175; color: white; background-image: none; }
				&.selected { color: white; background-color: gray; }
			}
		}
	}

	.moving_container{
		width: 10000px;
		position: relative;
		overflow: auto;
		
		.heading {
			position: relative;

			h1 { padding: 6px }

			.back {
				position: absolute;
				top: 3px;
				left: 5px;
				width: 20px;
				height: 20px;
				background-image: url(../images/l_arrow_white.png);
				background-repeat: no-repeat;
				background-position: left;
				cursor: pointer;
				&:hover { background-image: url(../images/l_arrow_white_with_circle.png) }
			}
		}
	}
}